<ul class="nav nav-tabs">
  <li><%= link_to 'Home', root_path %></li>
  <% @links.each_with_index do |link, index| %>
    <li class="<%= 'active' if params[:id] == link.id.to_s %>">
      <%= link_to link.name, link_path(link) %>
    </li>
  <% end %>
</ul>

<%= Link.count %>

<% 500.times do %>
  <table border="1" cellpadding="5" cellspacing="5">
    <% @links.each do |link| %>
      <tr>
        <th>
          <%= link_to link.name, link_path(link) %>
        </th>
      </tr>
    <% end %>
  </table>
<% end %>
