<h4>Show</h4>
<ul class="nav nav-tabs">
  <li><%= link_to 'Home', root_path %></li>
  <% @links.each_with_index do |link, index| %>
    <li class="<%= 'active' if params[:id] == link.id.to_s %>">
      <%= link_to link.name, link_path(link) %>
    </li>
  <% end %>
</ul>

<strong><%= @link.name %></strong>

<% 5000.times do %>
  <% @links.each do |link| %>
    <p>
      <%= link_to link.name, link_path(link) %>
    </p>
  <% end %>
<% end %>
